server:
  port: 3009

spring:
  application:
    name: gateway
  main:
    web-application-type: reactive  # 添加这行
  cloud:
    gateway:
      routes:
        - id: movie
          uri: http://localhost:3001
          predicates:
            - Path=/service/movie/**

        - id: music
          uri: http://localhost:3002
          predicates:
            - Path=/service/music/**
          filters:
            - StripPrefix=0

        - id: user
          uri: http://localhost:3005
          predicates:
            - Path=/service/user/**
          filters:
            - StripPrefix=0

        - id: circle
          uri: http://localhost:3004
          predicates:
            - Path=/service/circle/**
          filters:
            - StripPrefix=0

        - id: social
          uri: http://localhost:3003
          predicates:
            - Path=/service/social/**
          filters:
            - StripPrefix=0

        - id: chat
          uri: http://localhost:3006
          predicates:
            - Path=/service/chat/**
          filters:
            - StripPrefix=0

        - id: tenant
          uri: http://localhost:3007
          predicates:
            - Path=/service/tenant/**
          filters:
            - StripPrefix=0

        - id: prompt
          uri: http://localhost:3008
          predicates:
            - Path=/service/prompt/**
          filters:
            - StripPrefix=0

      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials

  redis:
    host: localhost
    port: 6379
    password: ""
    database: 0

jwt:
  secret: ${SECRET}
  expiration: 86400000  # 24小时（毫秒）

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    reactor.netty.http.client: DEBUG
    org.springframework.cloud.gateway: DEBUG
    org.springframework.cloud.gateway.filter: TRACE
    org.springframework.cloud.gateway.route: TRACE