server:
  port: 3009

spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: movie
          uri: http://localhost:3001
          predicates:
            - Path=/service/movie/**
          filters:
            - StripPrefix=1

        - id: music
          uri: http://localhost:3002
          predicates:
            - Path=/service/music/**
          filters:
            - StripPrefix=1

        - id: user
          uri: http://localhost:3003
          predicates:
            - Path=/service/user/**
          filters:
            - StripPrefix=1

        - id: circle
          uri: http://localhost:3004
          predicates:
            - Path=/service/circle/**
          filters:
            - StripPrefix=1

        - id: social
          uri: http://localhost:3005
          predicates:
            - Path=/service/social/**
          filters:
            - StripPrefix=1

        - id: chat
          uri: http://localhost:3006
          predicates:
            - Path=/service/chat/**
          filters:
            - StripPrefix=1

        - id: tenant
          uri: http://localhost:3007
          predicates:
            - Path=/service/tenant/**
          filters:
            - StripPrefix=1

        - id: prompt
          uri: http://localhost:3008
          predicates:
            - Path=/service/prompt/**
          filters:
            - StripPrefix=1

      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials

  redis:
    host: localhost
    port: 6379
    password: ""
    database: 0

jwt:
  secret: ${SECRET}
  expiration: 86400000  # 24小时（毫秒）

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always