<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.player.gateway.mapper.LogMapper">

    <insert id="insertLog" parameterType="com.player.gateway.entity.LogEntity">
        INSERT INTO log (
        id,
        request_id,
        user_id,
        path,
        method,
        query_params,
        request_body,
        request_headers,
        client_ip,
        response_status,
        response_body,
        response_headers,
        execute_time,
        error_message,
        create_time,
        update_time
        ) VALUES (
        #{id},
        #{requestId},
        #{userId},
        #{path},
        #{method},
        #{queryParams},
        #{requestBody},
        #{requestHeaders},
        #{clientIp},
        #{responseStatus},
        #{responseBody},
        #{responseHeaders},
        #{executeTime},
        #{errorMessage},
        #{createTime},
        #{updateTime}
        )
    </insert>

    <update id="updateResponseInfo">
        UPDATE log
        SET
        response_status = #{responseStatus},
        response_body = #{responseBody},
        response_headers = #{responseHeaders},
        execute_time = #{executeTime},
        error_message = #{errorMessage},
        update_time = NOW()
        WHERE request_id = #{requestId}
    </update>

</mapper>