<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.player.music.mapper.ChatMapper">
    <insert id="saveChat"  useGeneratedKeys="true" keyProperty="id"  keyColumn="id">
        insert into chat_history(user_id,files,chat_id,prompt,content,model,create_time) VALUES (#{userId},#{files},#{chatId},#{prompt},#{content},#{model},now())
    </insert>

    <select id="getChatHistory" resultType="ChatEntity">
        SELECT
            id,
            user_id,
            files,
            chat_id,
            prompt,
            content,
            model,
            create_time
        FROM
            chat_history
        WHERE
            user_id = #{userId}
        ORDER BY
            create_time DESC
            LIMIT
            #{start}, #{limit}
    </select>

    <!-- 查询总数 -->
    <select id="getChatHistoryTotal" resultType="Long">
        SELECT COUNT(*)
        FROM chat_history
        WHERE user_id = #{userId} order by create_time desc
    </select>
</mapper>

