server:
  port: 3008

token:
  expiration-time: 2592000000 # token失效时间一个月 1000 * 60 * 60 * 24 * 30

app:
  appId: com.player.prompt
  appName: 提示词工程
  avater-path: G:${app.avater-img}

logging:
  config: classpath:logback-spring.xml
  level:
    com.player.user: DEBUG
    org.springframework.web: DEBUG
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping: TRACE

spring:
  # 邮箱基本配置（注：实际未配置邮箱，仅为注释）
  redis:
    database: 0 # Redis数据库索引（默认为0）
    host: ${REDIS_HOST:127.0.0.1} # Redis服务器地址，支持动态配置
    port: ${REDIS_PORT:6379} # Redis服务器连接端口，支持动态配置
    password: ${REDIS_PASSWORD:} # Redis服务器连接密码，支持动态配置
    timeout: ${REDIS_TIMEOUT:5000} # 连接超时时间，支持动态配置
    jedis:
      pool:
        max-active: 8 # 连接池最大连接数（使用负值表示没有限制）
        max-wait: -1 # 连接池最大阻塞等待时间（使用负值表示没有限制）
        max-idle: 8 # 连接池中的最大空闲连接
        min-idle: 0 # 连接池中的最小空闲连接

  application:
    name: prompt-service  # 修改服务名称，统一规范

  datasource:
    url: jdbc:mysql://${MYSQL_HOST:localhost}:${MYSQL_PORT:3306}/${MYSQL_DATABASE:play}?characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai
    username: ${MYSQL_USERNAME:root}
    password: ${MYSQL_PASSWORD}
    driverClassName: com.mysql.jdbc.Driver
    initialSize: 5  # 初始建立连接数量
    minIdle: 5  # 最小连接数量
    maxActive: 20 # 最大连接数量
    maxWait: 10000  # 获取连接最大等待时间，毫秒
    testOnBorrow: true # 申请连接时检测连接是否有效
    testOnReturn: false # 归还连接时检测连接是否有效
    timeBetweenEvictionRunsMillis: 60000 # 配置间隔检测连接是否有效的时间（单位是毫秒）
    minEvictableIdleTimeMillis: 300000  # 连接在连接池的最小生存时间（毫秒）

  cloud:
    nacos:
      discovery:
        server-addr: ${NACOS_SERVER_ADDR:127.0.0.1:8848}  # Nacos地址，支持动态配置
        namespace: ${NACOS_NAMESPACE:public}  # 命名空间，支持动态配置
        username: ${NACOS_USERNAME:nacos}  # 用户名，支持动态配置
        password: ${NACOS_PASSWORD:nacos}  # 密码，支持动态配置

mybatis:
  mapper-locations: classpath:mapper/*Mapper.xml
  type-aliases-package: com.player.prompt.entity
  configuration:
    use-actual-param-name: true
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl