<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.player.tenant.mapper.TenantMapper">
    <select id="getUserTenantList" resultType="TenantEntity">
        SELECT * FROM tenant
        WHERE id IN (SELECT tenant_id FROM tenant_user WHERE user_id = #{userId})
        ORDER BY create_date DESC
    </select>

    <!-- 分页查询租户用户（关联用户表查询用户信息） -->
    <select id="getTenantUserList" resultType="TenantUserEntity">
        SELECT
            tu.*,
            u.username,
            u.avater,
            u.email
        FROM tenant_user tu
                 LEFT JOIN user u ON tu.user_id = u.id
        WHERE tu.tenant_id = #{tenantId}
        ORDER BY tu.join_date DESC
            LIMIT #{offset}, #{pageSize}
    </select>

    <!-- 查询租户用户总数 -->
    <select id="getTenantUserListCount" resultType="int">
        SELECT COUNT(*) FROM tenant_user
        WHERE tenant_id = #{tenantId}
    </select>

    <!-- 查询租户用户总数 -->
    <select id="getTenantUser" resultType="TenantUserEntity">
        SELECT
            tu.*,
            t.name as tenant_name,
            u.username,
            u.avater,
            u.email
        FROM tenant_user tu
            LEFT JOIN user u ON tu.user_id = u.id
            LEFT JOIN tenant t ON tu.tenant_id = t.id
        WHERE tu.tenant_id = #{tenantId}
            AND tu.user_id = #{userId}
            AND tu.disabled = 0
    </select>
</mapper>