<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.player.prompt.mapper.PromptMapper">

    <insert id="insertPrompt" parameterType="UserPromptEntity">
        INSERT INTO prompt_user (
        id, tenant_id, title, content, disabled,
        categoryId, tags, create_time, update_time, created_by, updated_by
        ) VALUES (
        #{id}, #{tenantId}, #{title}, #{content}, #{disabled},
        #{categoryId}, #{tags}, #{createDate}, #{updateDate}, #{createdBy}, #{updatedBy}
        )
    </insert>

    <delete id="deletePrompt">
        DELETE FROM prompt_user
        WHERE id = #{id} AND tenant_id = #{tenantId} AND created_by = #{createdBy}
    </delete>

    <update id="updatePrompt" parameterType="UserPromptEntity">
        UPDATE prompt_user
        SET title = #{title},
        content = #{content},
        disabled = #{disabled},
        categoryId = #{categoryId},
        tags = #{tags},
        update_date = #{updateDate},
        updated_by = #{updatedBy}
        WHERE id = #{id} AND tenant_id = #{tenantId} AND created_by = #{updatedBy}
    </update>

    <select id="getPromptById" resultType="UserPromptEntity">
        SELECT * FROM prompt_user
        WHERE id = #{id} AND tenant_id = #{tenantId} AND created_by = #{createdBy}
    </select>

    <select id="getPromptList" resultType="UserPromptEntity">
        SELECT * FROM prompt_user
        WHERE tenant_id = #{tenantId} AND created_by = #{createdBy}
        <if test="content != null and content != ''">
            AND content LIKE CONCAT('%', #{content}, '%')
        </if>
        <if test="categoryId != null and categoryId != ''">
            AND category_id = #{categoryId}
        </if>
        <if test="tags != null and tags != ''">
            AND tags LIKE CONCAT('%', #{tags}, '%')
        </if>
        ORDER BY create_time DESC
    </select>

    <select id="getPromptCategoryList" resultType="PromptCategoryEntity">
        select id,category,create_time,update_time from prompt_category order by update_time desc
    </select>

    <select id="getSystemPromptCountByCategory" resultType="Long">
        select count(*) from prompt_system where disabled=0
        <if test="categoryId != null and categoryId != ''">
            and categoryId = #{categoryId}
        </if>
        <if test="keyword != null and keyword != ''">
            and prompt like concat('%',keyword,'%')
        </if>
    </select>

    <select id="getSystemPromptListByCategory" resultType="SystemPromptEntity">
        SELECT
            ps.id,
            ps.category_id,
            ps.prompt,
            ps.disabled,
            ps.create_time,
            ps.update_time,
            IF(pc.id IS NOT NULL, 1, 0) as is_collect,
            pc.create_time
        FROM
            prompt_system ps
        LEFT JOIN
            prompt_collect pc ON ps.id = pc.prompt_id COLLATE utf8mb4_0900_ai_ci AND pc.user_id = #{userId}
        WHERE
            ps.disabled = 0
        <if test="categoryId != null and categoryId != ''">
            and ps.category_id = #{categoryId}
        </if>
        <if test="keyword != null and keyword != ''">
            and ps.prompt like concat('%',#{keyword},'%')
        </if>
        ORDER BY ps.create_time DESC;
    </select>

    <insert id="insertCollectPrompt">
        INSERT INTO prompt_collect (id, prompt_id, user_id, category_id, tenant_id, create_time, update_time)
        SELECT
            REPLACE(UUID(), '-', ''),
            #{promptId},
            #{userId},
            ps.category_id,
            #{tenantId},
            NOW(),
            NOW()
        FROM DUAL,
             (SELECT categoryId FROM prompt_system WHERE id = #{promptId}) ps
        WHERE EXISTS (
            SELECT 1 FROM tenant_user tu
            WHERE tu.tenant_id = #{tenantId}
              AND tu.user_id = #{userId}
              AND tu.disabled = 0  -- 用户启用状态
        )
          AND NOT EXISTS (
            SELECT 1 FROM prompt_collect
            WHERE prompt_id = #{promptId} AND user_id = #{userId}
        )
    </insert>

    <delete id="deleteCollectPrompt">
        DELETE pc FROM prompt_collect pc
        WHERE pc.prompt_id = #{promptId}
            AND pc.user_id = #{userId}
            AND pc.tenant_id = #{tenantId}
        AND EXISTS (
            SELECT 1 FROM tenant_user tu
            WHERE tu.tenant_id = #{tenantId}
            AND tu.user_id = #{userId}
            AND tu.disabled = 0  -- 用户启用状态
        )
    </delete>
    <select id="getMyCollectPromptCategory" resultType="PromptCategoryEntity">
        SELECT DISTINCT
            pc.id,
            pc.category,
            pc.create_time,
            pc.update_time
        FROM prompt_collect pcol
                 INNER JOIN prompt_category pc ON pcol.category_id = pc.id
        WHERE pcol.user_id = #{userId}
          AND pcol.tenant_id = #{tenantId}
          AND EXISTS (
            SELECT 1 FROM tenant_user tu
            WHERE tu.tenant_id = #{tenantId}
              AND tu.user_id = #{userId}
              AND tu.disabled = 0  -- 用户启用状态
        )
        ORDER BY pc.create_time DESC
    </select>

    <select id="getMyCollectPromptList" resultType="SystemPromptEntity">
        SELECT
        pc.id,
        pc.prompt_id,
        pc.user_id,
        pc.category_id,
        pc.create_time,
        pc.update_time,
        ps.prompt,
        ps.disabled
        FROM prompt_collect pc
        INNER JOIN prompt_system ps ON pc.prompt_id = ps.id COLLATE utf8mb4_general_ci
        WHERE pc.user_id = #{userId}
        AND pc.tenant_id = #{tenantId}
        <if test="categoryId != null and categoryId != ''">
            AND pc.category_id = #{categoryId}
        </if>
        AND EXISTS (
        SELECT 1 FROM tenant_user tu
        WHERE tu.tenant_id = #{tenantId} COLLATE utf8mb4_general_ci
        AND tu.user_id = #{userId} COLLATE utf8mb4_general_ci
        AND tu.disabled = 0
        )
        ORDER BY pc.create_time DESC
        LIMIT #{start}, #{pageSize}
    </select>

    <select id="getMyCollectPromptCount" resultType="Long">
        SELECT
            count(id)
        FROM prompt_collect
        WHERE
            category_id = #{categoryId}
          AND user_id = #{userId}
          AND tenant_id = #{tenantId}
          AND EXISTS (
            SELECT 1 FROM tenant_user tu
            WHERE tu.tenant_id = #{tenantId}
              AND tu.user_id = #{userId}
              AND tu.disabled = 0  -- 用户启用状态
        )
    </select>
</mapper>