<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.player.prompt.mapper.PromptMapper">

    <select id="getPrompt" resultType="PromptEntity">
        SELECT * FROM prompt
        WHERE tenant_id = #{tenantId} AND user_id = #{userId}
        <if test="promptId != null and promptId != ''">
            AND id = #{promptId}
        </if>
        LIMIT 1
    </select>

    <insert id="insertPrompt" parameterType="PromptEntity">
        INSERT INTO prompt (
            id,prompt,tenant_id,user_id,create_time,update_time
        ) VALUES (
            #{id},#{prompt},#{tenantId},#{userId},now(),now()
        )
    </insert>

    <update id="updatePrompt" parameterType="PromptEntity">
        UPDATE prompt set prompt = #{prompt},update_time = now() where id = #{id} and user_id = #{userId}
    </update>

    <select id="getPromptList" resultType="PromptEntity">
        SELECT * FROM prompt
        WHERE tenant_id = #{tenantId} AND user_id = #{userId}
        <if test="keyword != null and keyword != ''">
            AND prompt LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY update_time DESC LIMIT #{offset}, #{pageSize}
    </select>

    <select id="getPromptListCount" resultType="Long">
        SELECT count(*) FROM prompt
        WHERE tenant_id = #{tenantId} AND user_id = #{userId}
        <if test="keyword != null and keyword != ''">
            AND prompt LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </select>
</mapper>